body{background-color:orange;}#3efaf7;text-aling:justify;font-size:18px;}
h1{text-aling:center;background-color:#2FBDBA;color:17313B;}
h3{text-aling:justify;color:#1f7a79;}
h{color:orange;font-size:18px:}
i{color:orange;font-size: 18px;}
header,footer{blackground-color:#499CBA;color:ceeffc;text-aling:center;font-size:20px}
main{blackground-color:#8ddefc;}
primeiroparagrafo{text-aling:justify;font-size:18px;border:purple solid 2px;padding:10px;margin:10px;}}
